@media print {
  @page {
    size: 80mm auto;
    margin: 3mm;
  }

  body {
    margin: 0 !important;
    padding: 0 !important;
    width: 80mm !important;
    font-family: monospace !important;
  }

  /* sembunyikan semua */
  body * {
    visibility: hidden !important;
  }

  /* tampilkan hanya invoice utang */
  #areaInvoiceUtang,
  #areaInvoiceUtang * {
    visibility: visible !important;
  }

  #areaInvoiceUtang {
    position: fixed !important;
    left: 0;
    top: 0;
    width: 80mm !important;
  }

  .struk {
    width: 100%;
    padding: 6px;
    font-size: 10px;
  }

  .item {
    display: flex;
    justify-content: space-between;
    font-size: 9px;
  }

  .total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 6px;
  }
}